# visula studio

.vs/
UsersManager/obj/
UsersManager/bin/
UsersManager/wwwroot/

# compiled output
UsersManager/dist
UsersManager/tmp
UsersManager/out-tsc

# dependencies
UsersManager/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.vs/
UsersApi/obj/
UsersApi/bin/
UsersApi/wwwroot/

